body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(90deg,blue);
}

.container {
  border: 5px solid blue;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 0.3rem;
  background-color: #0000ff;
}

.card {
  height: 130px;
  width: 130px;
  background-color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transform-style: preserve-3d;
  transition: 0.3s ease;
}

.back {
  background-image:repeating-conic-gradient(
    red 0%,
    yellow 15%,
    red 33%
  );
  height: 100%;
  width: 100%;
  position: absolute;
  cursor: pointer;
  backface-visibility: hidden;
}
img {
  height: 120px;
  width: 120px;
  object-fit: cover;
  background: aqua;
}

.card.open {
  transform: rotateY(180deg);
  
}